@{
    ViewData["Title"] = "About";
}



<h3>Sales Reps:</h3>
<div class="row">

    <div class="col-md-8 col-centered about-content">
        <h4>This website will help you visualize your current Wholesale accounts (Stores) and quickly see the status of each store, each store's location on a map and when each store placed an order last.</h4>
    </div>
</div>