@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Freshie & Zero @@ Track One<br />
    1201 4th Ave S<br />
    Suite 102<br />
    Nashville TN 37210<br />
   
</address>

<address>
    <strong>Studio:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
