/* -- General Site-wide styles -- */
body {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #79e5cb;
}


.inline {
    display: inline;
}

.glyphicon {
    font-size: 1.6rem;
}

h2 .glyphicon {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.rounded-border {
    border: 1px solid rgba(128, 128, 128, 0.85);
    border-radius: 4px;
}

.rounded {
    border-radius: 4px;
}

.edit-btn-text,
delete-btn-text {
    font-size: 1.2em;
    font-weight: 600;
}


.white-background {
    background-color: white;
    opacity: .9;
}

h1, h2, h3, h4 {
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Class to center a Bootstrap column and remove float */
.col-centered {
    float: none;
    margin: 0 auto;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Google Maps Styles */
.mapContainer {
    margin: 15px auto -40px;
    height: 600px;
}

#map {
    height: 80%;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 9px;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.googlemap-search-bar {
    opacity: .9;
}


#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

#legend {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 2px 6px 6px;
    margin: 0 auto -20px;
}

#legend-innerContainer {
    margin: 0px auto;
}

#legend-icons {
    display: inline;
    padding: 0 3px;
}

#legend h4 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}

/* -- Store List page -- */
.store-list {
    padding: 10px;
}

/* -- Store Details Page -- */

.store-details {
    padding: 5px;
}

/* -- Notes View Component -- */
.notes {
    padding: 5px;
    height: 350px;
    overflow: auto;
    width: 100%;
}

.note__author {
    font-weight: bold;
}

.dashboard-notes hr {
    margin: 4px 0;
}

/* -- Store Notes view component -- */
.store-notes .store-notes__list {
    padding: 5px;
    height: 350px;
    overflow: auto;
    width: 100%;
}

.store-note__author {
    font-weight: bold;
}

.storeNotes__list hr {
    margin: 4px 0;
}

/* -- Store Flags View Component -- */

.store-flags {
    height: 140px;
    overflow: auto;
    width: 100%;
    padding: 5px;   
}

.store-flags__storeName {
    font-size: 1.3em;
}

/* -- About page styles -- */



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
