@model IEnumerable<RepPortal.Models.Note>

@foreach (var item in Model)
{
    @if (User.Identity.Name.Equals(item.User.Email) || (item.ToUser != null && User.Identity.Name.Equals(item.ToUser.Email)) || User.IsInRole("Administrator"))
    {
        <div class="note" id=@Html.DisplayFor(modelItem => item.NoteId)>
            <div class="note__author-Date"><span class="note__author">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</span> <span class="note__date">@Html.DisplayFor(modelItem => item.DateCreated)</span></div>
           <div class="note__content"><span>@Html.DisplayFor(modelItem => item.Content)</span></div>
        </div>
    }
}
