@model IEnumerable<RepPortal.Models.Note>

@foreach (var item in Model)
{
    <div class="note" id=@Html.DisplayFor(modelItem => item.NoteId)>
        <div class="note__author">@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName) </div>
       <div class="note__content"> <span>@Html.DisplayFor(modelItem => item.DateCreated)</span> <span>@Html.DisplayFor(modelItem => item.Content)</span></div>
    </div>
}
