@model IEnumerable<RepPortal.Models.StoreViewModels.StoreFlagViewModel>

<h4>Flags:</h4>

<div class="store-flags rounded white-background">
    @foreach (var sfvm in Model)
    {
        @if (sfvm.Flag != null)
        {
            <div class="store-flag">
                <span class="store-flag__flag">@sfvm.Flag.Name</span> - <span class="store-flags__storeName">@sfvm.Store.Name</span>
                @if (User.IsInRole("Administrator"))
                {
                    <span class="store-flag__salesRep">- Rep: @sfvm.Store.SalesRep.FirstName @sfvm.Store.SalesRep.LastName</span>
                }

            </div>

        }
    }
</div>
